      <footer class="footer">
        <ul class="footer-links">
          {{ if .RSSLink }}
          <li><a href="{{ .RSSLink | relURL }}" type="application/rss+xml" target="_blank"><i class="fa fa-rss" aria-hidden="true" title="RSS feed"></i><span class="sr-only">RSS feed</span></a></li>
          {{ end }}
          <li><a href="mailto:denis.haine@gmail.com"><i class="fa fa-envelope"
          aria-hidden="true" title="Send me an email!"></i><span class="sr-only">Email</span></a></li>
          <li><a href="http://scholar.google.ca/citations?user=KFeLZyIAAAAJ&hl=en"><i class="ai
          ai-google-scholar" aria-hidden="true" title="Find me on Google Scholar!"></i><span class="sr-only">Google Scholar</span></a></li>
          {{ with .Site.Params.social }}
          <li><a href="https://linkedin.com/{{ .linkedin }}"><i class="fa fa-linkedin" aria-hidden="true" title="Linkedin"></i><span class="sr-only">Linkedin</span></a></li>
          <li><a href="https://github.com/{{ .github }}"><i class="fa fa-github" aria-hidden="true" title="Github"></i><span class="sr-only">Github</span></a></li>
          <li><a href="https://twitter.com/{{ .twitter }}"><i class="fa fa-twitter" aria-hidden="true" title="Twitter"></i><span class="sr-only">Twitter</span></a></li>
          <li><a href="https://stackoverflow.com/{{ .stackoverflow }}"><i class="fa fa-stack-overflow" aria-hidden="true" title="Stackoverflow"></i><span class="sr-only">Stackoverflow</span></a></li>
          <li><a href="https://orcid.org/{{ .orcid }}"><i class="ai ai-orcid" aria-hidden="true" title="ORCID"></i><span class="sr-only">Orcid</span></a></li>
          <li><a href="https://researchgate.net/{{ .researchgate }}"><i class="ai ai-researchgate" aria-hidden="true" title="ResearchGate"></i><span class="sr-only">Researchgate</span></a></li>
          {{ end }}
          <li><a href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><i class="fa fa-cc" aria-hidden="true" title="Attribution-NonCommercial-ShareAlike 4.0 International"></i><span class="sr-only">Attribution-NonCommercial-ShareAlike 4.0 International</span></a></li>
          <li><a href="/"><i class="fa fa-copyright" aria-hidden="true" title="Copyright"></i> 2014 - {{ dateFormat "2006" .Site.LastChange }}</a></li>
          <li><a href="/"><i title="Last change"></i> Last change: {{ dateFormat "2006/01/02" .Site.LastChange }}</a></li>
        </ul>
      </footer>
    </div>
    {{ range .Site.Params.customJS }}
    <script async src="{{ . | relURL }}"></script>
    {{ end }}
    {{ partial "fix404" . }}
    {{ partial "footer_highlightjs" . }}
    {{ partial "footer_mathjax" . }}
    {{ template "_internal/google_analytics.html" . }}
    {{ partial "analytics/matomo" . }}
  </body>
</html>
